.collapse {
	background-color: #FF6060;
	border-radius: 5px;
	height: 52px;
	padding-top: 1px;
	display: flex;
	margin-top: 25px;
}

.collapse > p {
    color: white;
    font-family: "Montserrat";
    font-size: 22px;
    margin-left: 2%;
    width: 956px;
    margin-top: 14px;
}

.collapse > img {
	height: 23px;
	margin-top: 14px;
	margin-right: 20px;
}

.rotated{
	transform: rotate(-180deg);
}

.collapseunder > p {
	color: #FF6060;
	margin-left: 2%;
	font-family: "Montserrat";
}

.collapseunder {
	background-color: rgba(246, 246, 246, 1);
	padding-top: 1px;
	opacity: 1;
	border-radius: 5px;
	animation: expandCollapse 0.4s;
}
@keyframes expandCollapse {
	0% {
	  height: 0;
	  opacity: 0;
	}
}

@media (max-width: 768px) {

	.collapse {
		height: 40px;
	}

	.collapse > p {
		font-size: 15px; 
		margin-top: 12px;
	}

	.collapse > img {
		margin-top: 7px;
	}

	.collapseunder > p {
		font-size: 12px;
	}
}