.footer {
	background-color: black;
	text-align: center;
	height: 109px;
	padding-top: 3%;
   margin-left: -8px;
}

.footer > p {
	color: white
}

@media (max-width: 768px) {
   .footer {
    width: 100vw;
	padding: 40px 0px 0px 0px;
   }
}