.thumb {
	height: 311px;
    width: 365px;
    border-radius: 10px;
    margin-left: 32px;
    margin-top: 82px;
	display: flex;
	position: absolute;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.thumb:hover{
	background: linear-gradient(180deg, rgba(173, 173, 173, 0) 10%, rgba(210, 13, 13, 0.5) 100%);
}

.thumbunder {
	height: 340px;
	width: 365px;
	border-radius: 10px;
	margin: 52px 9px 36px 33px;
	display: flex;
}

.thumb > p {
	font-family: "Montserrat";
	color: white;
	display: flex;
	align-items: flex-end;
	margin-left: 12px;
}


.imgthumb {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

#blockThumb {
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(246, 246, 246, 1);
	border-radius: 25px;
	margin-left: 83px;
    margin-right: 58px;
	margin-bottom: 50px;
}


@media (max-width: 768px) {
	#blockThumb {
		background-color: transparent;
	}

	.thumbunder {
		height: 200px;
        width: 157px;
        margin: 50px 0px 36px -1px;
	}

	.imgthumb {
		height: 274px;
        width: 91vw;
        margin-left: -138px;
        border-radius: 25px;
        margin-top: -60px;
	}

	.thumb{
		height: 203px;
        border-radius: 25px;
        margin-left: -138px;
		width: 91vw;
	}
}